{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/index.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <h1 class="heading_1"> Media </h1>
    <div class="container_body">
        <h2> Welcome to Guru Nanak Khalsa College </h2>
    </div>

    <section class="section_form">
        {% comment %} <h1 class="heading_2"> Have a creature you would like to add? </h1>
        <h4 class="subheading_1"> write the name of your entity and a brief idea of who they <br>
            I can research them and add them into the database!</h4> {% endcomment %}
        {% comment %} <form id="form_email" action="/" method="post">
            <div class="form_container">
                <input class="submitEntity_btn" type="submit"></input>
            </div>
        </form> {% endcomment %}

    </section>
</div>
{% endblock %}