{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/index.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <h1 class="heading_1"> Our Philosophy </h1>
    <div class="container_body">
        <h2> School Policy and Practices: </h2>
    </div>

    <body>
        <p>
            <p>Guru Nanak Khalsa College is committed to Racial Equality, that applies to all section of the College ie:
                Employment and Admission.<br>

                The College has high regard for all the students who are committed to learn about our culture, language
                and
                relgion in their extra time from main stream schools. We feel these children are the cream and the
                golden
                nuggets of the Sikh community and the flag bearers of the future. <br>

                The College, very much appreciates the efforts of the parents who bring there children to our
                Educational
                and
                religious environment. By giving this opportunity to their children, they are sowing the seeds of
                success
                for
                the coming generation. <br>

                The College would like to develop the partnership with parents further to make sure that all the parents
                are
                aware of the progress of their children the College activities. <br>

                The College is extremely grateful to the Managing Committee of Guru Nanak Gurdware, Sedgley Street,
                Wolverhampton, who have always been very supportive of the College activities and provide siginficant
                amount
                of
                funds to run the College. <br>

                The whole staff is fully committed to do there almost best to make sure that the students are fully
                aware of
                our
                mission statement. <br>

                The work is rewarded by the class teachers with gold or silver stars. <br>

                Planning, development and evaluation of the College activities are discussed in the monthly staff
                meetings,
                and
                twice a year staff development training take place. <br>

                We have written syllabus for all the classes. SMART targets are set for each term. <br>

                First 20 minutes of the classes except the exam classes, are devoted to religious education. <br>

                Parents are invited twice a year to discuss their children's progress. <br>

                A few months ago, Adult classes have been started to ensure that the parents learn Panjabi and R.E, to
                able
                them
                to help their children at home with their homework. <br>

                We seek to be absolutely fair but firm to make sure our daily activities does not contain any kind of
                political
                practice at GNKC. <br>
            </p>
    </body>

    <section class="section_form">
        {% comment %} <h1 class="heading_2"> Have a creature you would like to add? </h1>
        <h4 class="subheading_1"> write the name of your entity and a brief idea of who they <br>
            I can research them and add them into the database!</h4> {% endcomment %}
        {% comment %} <form id="form_email" action="/" method="post">
            <div class="form_container">
                <input class="submitEntity_btn" type="submit"></input>
            </div>
        </form> {% endcomment %}

    </section>
</div>
{% endblock %}