.homework_container {
	background: #dedee0;
}
.homework_container .homework_title,
.homework_container .homework_due,
.homework_container .homework_desc,
.homework_container .homework_teacher {
	color: black;
}

.container_body {
	width: 100%;
}

.quiz_container {
	width: 80%;
	background: #dedee0;
	color: black;


}
.score_container {
	float: right;
	width: 500px;
}

.score_container .score {
	width: 100%;
	display: inline-block;
}