.container_body {
	/* display: flex; */
	/* position: relative; */
}

.homework_container {
	background: #dedee0;
	border: black 1px solid;
	padding: 10px;
	margin-top: 50px;
	margin-right: 30px;
	box-sizing: border-box;
	min-width: 200px;
	max-width: 50%;
	position: relative;
	float: left;
	max-height: 300px;
}
.homework_container .homework_title,
.homework_container .homework_due,
.homework_container .homework_desc,
.homework_container .homework_teacher {
	color: black;
}

.homework_container .delete_homework {
	/* background: #dedee0; */
	/* position: absolute; */
	margin: 0;
	top: 0;
	float: right;
}