.homework_container {
	background: #dedee0;
}
.homework_container .homework_title,
.homework_container .homework_due,
.homework_container .homework_desc,
.homework_container .homework_teacher {
	color: black;
}

.wrapper-content {
	display: flex;
}

.container_body {
	width: 40%;
	padding-right: 80px;
	color: black;
	}

	.question_container {
		width: 40%;
		color: black;
		/* display: flex; */
		/* padding-right: 40px; */
	}

	.question_container .question_title {
		float: left;
		/* padding-right: 40px; */
	}

	.value_container {
		display: flex;
		width: 100%;
		position: relative;
	}

	.value_container .deleteQuestion {
		position: absolute;
		left: 100%;
	}

	.score_container {
		display: inline-block;
		/* float: right; */
		/* position: absolute; */
		width: 20%;
	}

	.score {
		display: flex;
			width: 100%;
			position: relative;
		}

		.score .scoreStudentScore {
			position: absolute;
			left: 100%;
		}

		.submit_btn {
			background: #e2ba5b;
	color: black;
	cursor: pointer;
	font-size: 1em;
	padding: 1.5rem;
	border: 0;
	transition: all 0.5s;
	border-radius: 10px;
	width: auto;
	position: relative;
	}

.submit_btn:hover {
	background: #F0E68C;
	transition: all 0.5s;
	border-radius: 10px;
	box-shadow: 0px 6px 15px black;
	padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}