{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/quizzes.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <div class="heading_container">
        <div class="headings">
            <h1 class="heading_1"> Dashboard </h1>
            <h3> Quizzes </h3>
        </div>
    </div>
        {% if user.is_staff %}
        <a class="create_quiz" href='/quizzes/create'><button class="submit_btn" type="button"> Create Quiz
            </button></a>
        </div>
        <div class="container_body">
        {% for quiz in quizzes  %}
        <div class="quiz_container">
            <img class="quiz_img" src="{{quiz.image_path.url}}" />
            <a class="delete_quiz_button" href="quizzes/delete/quiz/{{quiz.id}}"> <i
                    class="fas fa-times-circle fa-2x"></i></a>
            </a>
            <div class="quiz_details">
                <a href="/quizzes/update/quiz/{{quiz.id}}">
                    {% comment %} <img class="entity_img" src="{{entity.image.url}}" /> {% endcomment %}
                    <h4 class="quiz_title"> {{ quiz.title }} </h4>
                    <h5 class="quiz_desc"> {{ quiz.get_classes_display }}</h5>
                    <h5 class="quiz_desc"> {{ quiz.get_level_display }}</h5>
                </a>
                </div>

        </div>
        {% endfor %}
        {% else %}
        {% for quiz in quizzes  %}
        <div class="quiz_container">
            {% if quiz.image_path %}
            <img class="quiz_img" src="{{quiz.image_path.url}}" />
            {% endif %}
            <a href="/quizzes/{{quiz.id}}">
                <div class="quiz_details">
                    <h4 class="quiz_title"> {{ quiz.title }} </h4>
                    <h5 class="quiz_desc"> {{ quiz.get_classes_display }}</h5>
                    <h5 class="quiz_desc"> {{ quiz.get_level_display }}</h5>
                </div>
            </a>
        </div>
        </div>
    {% endfor %}
    {% endif %}
    <br>
</div>

</div>
{% endblock %}