{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/homework.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <h1 class="heading_1"> Dashboard </h1>
    <div class="container_body">
        <h3> Quiz </h3>
        <br>
{% for question in questions  %}
            <div class="homework_container">
                {% comment %} <img class="entity_img" src="{{entity.image.url}}" /> {% endcomment %}
                <h2 class="homework_title"> {{ question.title }} </h2>
                <input type="radio" name="answer">
                <h5 class="homework_desc"> {{ question.answer_1 }}</h5>
                <br>
                <input type="radio" name="answer">
                <br>
                <h5 class="homework_desc"> {{ question.answer_2 }}</h5>
                <input type="radio" name="answer">
                <br>
                <h5 class="homework_desc"> {{ question.answer_3 }}</h5>
                <br>
                <input type="radio" name="answer">
                <h5 class="homework_desc"> {{ question.answer_4 }}</h5>
                <br>
                <h4 class="homework_correct hidden" id="{{question.id}}">
                    {{question.correct_answer_value}}
                </h4>

                {% comment %} entity.get_*field*_display - displays the humanreadble values
                <h5 class="homework_due"> {{ work.due }} </h5>
                <h6 class="homework_teacher"> set by: {{work.teacher.user.first_name}}
                    {{ work.teacher.user.last_name}}
                </h6>
                {% endcomment %}
            </div>
        </a>
        {% endfor %}
        <br>
    </div>

</div>
{% endblock %}