{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/homework.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="wrapper-content">
    <h1>You scored {{score}}</h1>
    <br>
    <h1> Your score has been sent to your teacher </h1>
    {% if wrongAnswer|length == 0 %}
    <h1> Well Done you got all Questions Correct </h1>
    {% else %}
    {% for question in wrongAnswer  %}
    <div>
        <h2> You got the question: '{{question.title}}' wrong </h2>
        <h2> This was the correct answer: {{question.correct_answer_value}} </h2>
        <br>
    </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}