{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/homework.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="wrapper-content">
    <h1>{{score}}</h1>

    {% for question in wrongAnswer  %}
    <div>
        <h2>{{question.title}}
            <h2>
                <h2>{{question.answer_1}}
                    <h2>
                        <h2>{{question.answer_2}}
                            <h2>
                                <h2>{{question.answer_3}}
                                    <h2>
                                        <h2>{{question.answer_4}}
                                            <h2>
                                                <h2>{{question.correct_answer_value}}
                                                    <h2>
    </div>
    {% endfor %}
</div>

{% endblock %}