{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/index.css' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="wrapper-content">
    <h1 class="heading_1"> Set Homework </h1>
    <div class="container_body">
        <h3> Homework </h3>
        <form id="form_hmw" action="/homework" method="post">
            {% csrf_token %}
            {% for field in form  %}
            <div class="field">
                {{field.errors}}
                {{field.label_tag}}
                <br>
                {{field}}
            </div>
            <br>
            {% endfor %}
            <input class="submit_btn" type="submit"></input>
        </form>
    </div>

</div>
{% endblock %}